modules = ["web", "nodejs-22", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32903
externalPort = 8000

[[ports]]
localPort = 33027
externalPort = 3000

[[ports]]
localPort = 33207
externalPort = 5000

[[ports]]
localPort = 33379
externalPort = 4200

[[ports]]
localPort = 33877
externalPort = 3002

[[ports]]
localPort = 34817
externalPort = 8081

[[ports]]
localPort = 39079
externalPort = 5173

[[ports]]
localPort = 39841
externalPort = 8008

[[ports]]
localPort = 43283
externalPort = 3003

[[ports]]
localPort = 44875
externalPort = 6000

[[ports]]
localPort = 45325
externalPort = 6800

[[ports]]
localPort = 46135
externalPort = 3001

[[ports]]
localPort = 46593
externalPort = 8080


[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "javascript_database:1.0.0"]

[userenv]

[userenv.shared]
VITE_SHXRP_VAULT_ADDRESS = "0x82d74B5fb005F7469e479C224E446bB89031e17F"
VITE_REVENUE_ROUTER_ADDRESS = "0x8e5C9933c08451a6a31635a3Ea1221c010DF158e"
VITE_STAKING_BOOST_ADDRESS = "0xD8DF192872e94F189602ae3634850C989A1802C6"
VITE_MERKLE_DISTRIBUTOR_ADDRESS = "0x25783E1Ebf2C9Fc7DDe2E764C931348d3bB3AB31"
